body {
    background-color: antiquewhite
}

button {
    background-color: rgb(247, 245, 254);
     margin: 0.5em;
     width: 90%; 
}

.text-box {
    margin: 1.5rem;
}

#message {
    background-color: rgb(224, 193, 247);
}

#image-container {
    margin:0.5rem;
}

#results {
    margin-top: 3em;
    margin-bottom: 3em;
}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    button {
        width: 70%;
    }

    #message {
        margin: auto;
        width: 80%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    button {
        margin: auto;
        width: 45%;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        display: flex;
        justify-content: space-evenly;
    }

    .text-box {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    #message {
        margin: auto;
        width: 50%;
    }
}


